body {
  background-color: rgb(18, 18, 18);
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.results-tab {
  color: white;
  font-size: 60px;
  width: 405px;
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  row-gap: 20px;
}

.grey-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(77, 77, 77);
  color: white;
  font-size: 40px;
  border: none;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  cursor: pointer;
}

.yellow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 187, 0);
  color: white;
  font-size: 45px;
  border: none;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  cursor: pointer;
}

.clear-button {
  font-size: 30px;
}