body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
}

.sidebar-manual {
  display: none;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  background-color: transparent;
  color: white;
  padding-left: 10px;
}

.sidebar-manual-activated {
  display: flex;
}

.heading {
  font-size: 20px;
  font-weight: bold;
}

.keyboard-shortcuts {
  padding-left: 13px;
}

.title {
  font-size: 50px;
  font-weight: bold;
}

.move-button {
  background-color: transparent;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.move-icon {
  height: 50px;
}

.result {
  font-size: 40px;
  font-weight: bold;
  margin-top: 50px;
}

.moves {
  font-size: 25px;
}

.score {
  font-size: 35px;
  margin-top: 60px;
}

.reset-score-button,
.auto-play-button,
.manual-button {
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
}

.warning-message {
  display: none;
  background-color: transparent;
  margin-top: 30px;
  font-size: 18px;
  width: 497px;
}

.warning-message-activated {
  display: block;
}

.warning-message-question {
  display: inline-block;
  margin-right: 10px;
}

.yes-button,
.no-button {
  background-color: white;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
}